.mainContainer{
    width:1180px;
    margin:auto;
    display: flex;
    gap: 10px;
 
}
.productDiscount{
  text-align: right;
  color: #ba5253;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  display: flex;
  justify-content: flex-end;
height: 20px;
align-items: center;
}

.productDiv{
  width: 900px;
  /* border: 2px solid grey; */
}
.filterDiv{
  width: 250px;


}

.productDiscount>img{
  display: block;
  width: 18px;
  margin-top: 0px;
  height: 22px;
  float: right;
  background-image: url(https://www.bbassets.com/static/v2578/custPage/build/content/img/product-deck-sprite.png);
  background-repeat: no-repeat;
  background-position: -24px -24px;
}

.productMainDiv {
  width: 220px;
  border-right: 0.5px solid rgb(229, 225, 225);
}

.productSubDiv {
  width: 200px;
  margin: auto;
  padding: 10px;
}
.mappingDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

.productMainDiv:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.productImage {
  width: 150px;
  margin: auto;
  margin-top: 5px;
}

.fresho {
  color: grey;
  font-size: 12px;
  margin-bottom: 10px;
}

.productName {
  margin-top: -10px;
  font-size: 14px;
}
.price{
  font-size: 14px;
 
}
.hrLine{
  width: 100%;
  border:0.5px solid grey;
  margin-bottom: 20px;
}
.kgPrice {
  width: 100%;
  border-radius: 0px;
}
.priceSection{
    margin-top: 0px;
}

.stdDiv {
  display: flex;
  gap: 5px;
  margin-top: -20px;
}

.dlyTime {
  font-size: 10px;
  margin-top: 20px;
}

.qtyAddDiv {
  display: flex;
  gap: 5px;
 
}
.prctymbtn {
  background-color: #f4f3f2;
  padding: 5px;
}
.mrpDiv {
  font-size: 12px;
  color: grey;
  

}
.qtyDiv {
  display: flex;
  font-size: 12px;
  border: 0.5px solid grey;
  height: 20px;
  align-items: center;
  border-radius: 5px;
}
.qty {
  background-color: rgb(225, 219, 219);
  width: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  color: grey;
}
.truckimg:hover {
  color: green;
}

.Inputnumber {
  text-align: center;
  width: 40px;
  height: 15px;
  outline: none;
  border: none;
  border-top-right-radius:5px ;
  border-bottom-right-radius:5px ;

}

.addButtonDiv {
  /* border: 2px solid black; */
  height: 20px;
  align-items: center;
  display: flex;
  font-size: 14px;
  padding-left: 5px;
  border-radius: 5px;
  width: 60px;
  background-color: #f8d979;
  cursor: pointer;
}


.line{
  width: 100%;
  margin-top: -12px;
  /* height: 1px; */
  border: 0.2px solid black;
}

.checkboxText{
  font-size: 14px;
  color: grey;
}

.chekbox{
  width: 20px;
  height: 15px;
  margin-bottom: 10px;
}

.select{
  margin-top: 20px;
}

.typeAndSort{
  display: flex;
 justify-content: space-between;
}

.topTruck{
  border-bottom:1px solid #84c225;
  width: 150px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  padding-bottom: -10px;
  height: 20px;
  text-align: center;
  align-items: center;
}

.divider{
 
  border: 0.1px solid grey;

}

.line{
  text-decoration: underline;
  margin-top: 5px;
}