/* .page_layout {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  z-index: 1;
} */

.div2 {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  /* height: 95px; */
}

.ulnav {
  font-size: 16px;
  font-weight: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  overflow: hidden;
}

.dropdown {
  border: none;
  outline: none;
  color: #181818;
  padding: 14px 14px;
  font-size: 12px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 5px 10px;
  word-spacing: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #84c225;
  margin: 0;
}

.dropbtnoffer {
  border: none;
  outline: none;
  color: black;
  padding: 6px 10px;
  word-spacing: 5px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.dropbtnoffer:hover {
  padding: 6px 10px;
  color: white;
  background-color: #84c225;
}

.dropdowncontent {
  width: 80%;
  margin: auto;
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 50px;
}

.dropdowncontent .header {
  padding-bottom: 20px;
}

.dropdown:hover .dropdowncontent {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 10px;
  font-size: 12px;
  text-decoration: underline;
}

.dropbtn:hover {
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: fit-content;
  margin-left: 90px;
  background-color: white;
  height: fit-content;
}

.column a {
  float: none;
  color: black;
  padding: 12px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  font-weight: 600;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 7%;
}

.userLocation {
  text-align: right;
  padding-bottom: 10px;
}

.userLocation span {
  margin: 10px;
  cursor: pointer;
}

.userLocation span:hover {
  color: #84c225;
}

.search_cart {
  display: flex;
  justify-content: space-between;
}

.search_cart input {
  font-size: 18px;
  padding: 5px;
  width: 600px;
  outline: #84c225;
}

.search_cart button {
  font-size: 21px;
  padding-bottom: 2px;
  color: white;
  background-color: #84c225;
  border: solid #84c225;
  cursor: pointer;
}

#logo {
  display: flex;
  gap: 10%;
}

#logo img {
  height: 75px;
  cursor: pointer;
}

.cart {
  /* font-size: 20px; */
  display: flex;
  align-items: center;
  /* border: solid; */
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.cart i {
  font-size: 40px;
  color: rgb(255, 78, 78);
  margin-right: 10px;
}

.scroll {
  position: fixed;
  background-color: #84c225;
  color: white;
  top: 90%;
  padding: 5px 15px;
  left: 95%;
}
.login {
  visibility: hidden;
}

@media only screen and (min-width: 421px) and (max-width: 720px) {
  .cart i {
    font-size: 20px;
    color: rgb(255, 78, 78);
    margin-right: 10px;
  }
  .userLocation span:nth-child(1) {
    display: none;
  }
  .userLocation span:nth-child(2) {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 420px) {
  .cart i {
    font-size: 20px;
    color: rgb(255, 78, 78);
    margin-right: 10px;
  }
  .userLocation span:nth-child(1) {
    display: none;
  }
  .userLocation span:nth-child(2) {
    display: none;
  }
  .search_cart_inp {
    display: none;
  }
  .login {
    visibility: visible;
  }
  .login_main {
    display: none;
  }
}
