.mainContainer {
  width: 1080px;
  margin: auto;
  display: flex;
  gap: 20px;
}

.giftOrder {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  color: grey;
}

.giftOrder > button {
  color: grey;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.deliveryOptions {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;

  color: grey;
}

.deliveryOptions > button {
  color: grey;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.paymentOptions {
  border: 1px solid grey;

  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  color: grey;
}
.optionsAndCard {
  display: flex;
  background-color: #f6f6f6;
  gap: 20px;
}

.cardDiv {
  border: 1px solid rgb(189, 187, 187);
  width: 500px;
  margin-top: 20px;
  height: 250px;
  padding: 20px;
}

.leftSideDiv {
  width: 700px;
}

.boldTexts {
  font-weight: bold;
}

.cardNumber {
  outline: none;
  border-bottom: gray solid 1px;
}

.validCvv {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.smallText {
  font-size: 10px;
  font-weight: 500;
  margin-top: 20px;
}

.placeOrderButton {
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  margin-top: 10px;
  color: grey;
}

.options {
  border: 1px solid grey;
  padding: 10px;
  border-bottom: 10px;
  text-align: center;
  align-items: center;
}

.Lastoptions {
  border: 1px solid grey;
  padding: 10px;

  text-align: center;
  align-items: center;
}
